zoomred.json
[
    {
        "id": "73938c67.dac0ac",
        "type": "tab",
        "label": "ZoomOSC",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c12db79c.dacf9",
        "type": "tab",
        "label": "Testing Functions",
        "disabled": false,
        "info": ""
    },
    {
        "id": "584bfa46.70cd0c",
        "type": "tab",
        "label": "Development",
        "disabled": false,
        "info": ""
    },
    {
        "id": "417600d2.281de8",
        "type": "tab",
        "label": "MultiClient",
        "disabled": false,
        "info": "**This works on MacOS only. **\n\nThis page sets up \n - starts multiple ZoomOSC clients to connect a single meeting. \n - starts multiple NDI Scan Converter sessions\n- Provides a control interface to manage who is pinned on each cleint session."
    },
    {
        "id": "29e414d1.c9f644",
        "type": "tab",
        "label": "Week 2 Homework",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a1eee5f.c4f908",
        "type": "group",
        "z": "73938c67.dac0ac",
        "name": "Inbound Communications and Response Handling",
        "style": {
            "label": true
        },
        "nodes": [
            "c3effac1.3bfdc8",
            "67110b0b.8a29ac",
            "fa85aa2d.775778",
            "4450291d.656bf",
            "ff1dd203.0f15c",
            "8458812b.59cb1",
            "83a942b6.b64a08",
            "3391f39b.65cb6c",
            "4d245d11.740cb4",
            "83b6677.3f1ed18",
            "93340b08.cc7e",
            "4154f877.d58458",
            "1a4b1a5c.43e0c6",
            "fa49dade.a0139",
            "93e9c3f0.384fe",
            "68d21d79.8cebec",
            "fc277a34.d21a3",
            "7afcdf6c.bf4f6"
        ],
        "x": 14,
        "y": 259,
        "w": 1382,
        "h": 362,
        "info": "# Inbound and Responses\n\nCollects respsonses from zoomosc and all other messages from the client."
    },
    {
        "id": "4f432da1.69efcc",
        "type": "group",
        "z": "73938c67.dac0ac",
        "name": "Mute Controls",
        "style": {
            "label": true
        },
        "nodes": [
            "d66276a4.8c4c7",
            "dcadc834.c415e8",
            "2033df4b.a11ee8",
            "ccd8fe38.65aed8",
            "e456edff.80b1d",
            "1c873d09.528f23",
            "bd86dd82.d2f74",
            "72552f1a.30ca98",
            "957634f4.5a896",
            "861ebbb.88d94c8",
            "603f0200.f9be5c",
            "6f985efb.11e7c",
            "3096f4b1.ae8e24",
            "fade3d9.8c5f1c",
            "8f26078c.64cd9",
            "3e83a4c1.9f439c"
        ],
        "x": 14,
        "y": 1899,
        "w": 852,
        "h": 422
    },
    {
        "id": "800a1202.7dc55",
        "type": "group",
        "z": "73938c67.dac0ac",
        "name": "Session Controls",
        "style": {
            "label": true
        },
        "nodes": [
            "63b51234.9f4b64",
            "cd90a590.e286d8",
            "46f43be6.8a605c",
            "c699a530.afa03",
            "f61c489f.2a26e",
            "14d57df0.dbd8b2",
            "9f0bfbbf.eef0e8",
            "7b6d8d0c.091e9c",
            "1836ad29.55decb",
            "54d81a13.473a9c",
            "b8f52048.1fd02",
            "f9768951.02dfa8",
            "d45bbcca.f2d8a",
            "d83372d3.9abbf8",
            "7f1a0616.747b8",
            "b49b98d3.3493b"
        ],
        "x": 14,
        "y": 1419,
        "w": 952,
        "h": 422
    },
    {
        "id": "3353a48a.b34c7c",
        "type": "group",
        "z": "73938c67.dac0ac",
        "name": "Gallery or Speaker View",
        "style": {
            "label": true
        },
        "nodes": [
            "9de8a089.2741a8",
            "98082d7e.ea3f6",
            "2bc17d58.156a9a",
            "75f58eb3.f0fbc8",
            "e00106d8.34ae58"
        ],
        "x": 14,
        "y": 1159,
        "w": 422,
        "h": 202
    },
    {
        "id": "8f22f025.890338",
        "type": "group",
        "z": "73938c67.dac0ac",
        "name": "Spot and Pin",
        "style": {
            "label": true
        },
        "nodes": [
            "8726a404.acb658",
            "4296dd84.b0a694",
            "32425712.bca138",
            "8f474d77.9c1d2",
            "c5537a3d.000298"
        ],
        "x": 14,
        "y": 899,
        "w": 702,
        "h": 202
    },
    {
        "id": "9a75246e.77f24",
        "type": "group",
        "z": "73938c67.dac0ac",
        "name": "Refresh User List",
        "style": {
            "label": true
        },
        "nodes": [
            "8c44154e.82428",
            "47225bef.34f704",
            "66a97045.5c2e9",
            "71616093.ff1c28",
            "aaeba03f.6b66f",
            "9ee620d7.f38748"
        ],
        "x": 14,
        "y": 679,
        "w": 612,
        "h": 162
    },
    {
        "id": "39660f71.497918",
        "type": "group",
        "z": "73938c67.dac0ac",
        "name": "Selected User Actions",
        "style": {
            "label": true
        },
        "nodes": [
            "5cc2d4c8.8862bc",
            "8286762a.9d5818",
            "c747b0af.6dc26",
            "a3ba248d.dfbef",
            "5501af4f.e880f",
            "7c62d446.fe1f24",
            "d79b8521.8593a",
            "4100a9ea.f8c718",
            "786c90e4.494968",
            "84f20dfb.6970e8",
            "80332035.35b87",
            "1a3b52b6.24a80d",
            "76119781.53cf98",
            "8f101a1c.a092f",
            "3fe1a3da.96e8dc",
            "dfa0fa11.cd646",
            "8bee5d90.93213"
        ],
        "x": 14,
        "y": 2379,
        "w": 762,
        "h": 462
    },
    {
        "id": "e7464d93.8a5de8",
        "type": "group",
        "z": "73938c67.dac0ac",
        "name": "Under Development",
        "style": {
            "label": true
        },
        "nodes": [
            "5a38b5cd.fff45c",
            "c33cbea6.ca6c58",
            "bd5834a7.19337",
            "66601b96.abcad4",
            "a3eb01d1.59552",
            "77ba9999.2ec65"
        ],
        "x": 14,
        "y": 2899,
        "w": 432,
        "h": 262
    },
    {
        "id": "bf3e5a12.3393f",
        "type": "group",
        "z": "73938c67.dac0ac",
        "name": "Outbound Communications",
        "style": {
            "label": true
        },
        "nodes": [
            "3db3f60c.5c3cea",
            "8e791d87.7fea2",
            "9fe05ea6.1119e",
            "e5be326c.4063e",
            "8a313077.cf5f3",
            "4b26af43.b2637",
            "9212f4a1.d16db8",
            "bd287e97.0ece58"
        ],
        "x": 14,
        "y": 19,
        "w": 732,
        "h": 202,
        "info": "# Outbound\n \nThis group centralizes the transmission of messages to zoomOSC.\n\nMany of the other groups send their traffic to the incoming link."
    },
    {
        "id": "e237bfbd.ef848",
        "type": "group",
        "z": "c12db79c.dacf9",
        "name": "Launch Test Fleet",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "cc984c2c.33522",
            "8969da29.79c5f8",
            "ae78cd7a.a06dd8",
            "18ec83d2.1b87c4",
            "2ae36ad4.149bde",
            "335d18e.c1b6be8",
            "bf15db33.bca2e8",
            "f5bff11b.f3861",
            "d17a3ce3.4a5e68",
            "befdc645.74121",
            "ddda9464.847278",
            "fe1ef384.c7cc48",
            "4f78604e.726158",
            "fdf378c5.24555",
            "90d78db0.5c5f2",
            "ffd4819c.770548",
            "6e4166aa.b845e",
            "723cfff6.97f558",
            "77d305da.860934",
            "f7b2ddb.a59bda",
            "f4c194c7.4e4f98"
        ],
        "x": 34,
        "y": 119,
        "w": 1072,
        "h": 542
    },
    {
        "id": "e26be13e.803a18",
        "type": "group",
        "z": "417600d2.281de8",
        "name": "Terminate",
        "style": {
            "label": true
        },
        "nodes": [
            "633a66bd.5b6858",
            "b0a10cdd.f84f",
            "ea944d9a.7c01e8",
            "c60e2d5b.3a84c",
            "3adc9280.70751e",
            "193b78a6.baa13f",
            "e2afd00e.027d5",
            "8c6aa845.c21ea8",
            "1d88496d.271827",
            "ed492ccb.759728",
            "3ae86bf5.187d6c",
            "db9f1cc0.e91ad8",
            "a9a83b20.6b34c8"
        ],
        "x": 14,
        "y": 1379,
        "w": 1012,
        "h": 282
    },
    {
        "id": "a467147e.ea6ff8",
        "type": "group",
        "z": "417600d2.281de8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "87be8393.c7a8d",
            "5c299bdd.1302bc",
            "f1293eaf.5560a8",
            "68481c37.3af0a4",
            "18966c73.5a928c",
            "ff4364fe.b61058",
            "39af3e5c.9312f2",
            "bfc42dc2.942a2",
            "11d024cc.045c43",
            "9417cf19.60406"
        ],
        "x": 14,
        "y": 1059,
        "w": 992,
        "h": 282
    },
    {
        "id": "f1398826.950628",
        "type": "group",
        "z": "417600d2.281de8",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "6b0a9d8a.8e05c4",
            "6a8fb6ee.5c8788",
            "f046bc6f.319fc",
            "4ec76086.b79ce",
            "73a15135.d74f8",
            "c572ed57.b237f",
            "c755f3f2.0a79d8",
            "8d506a4d.70a0a"
        ],
        "x": 14,
        "y": 819,
        "w": 1052,
        "h": 189.5
    },
    {
        "id": "2aa67a90.e9e8de",
        "type": "group",
        "z": "417600d2.281de8",
        "name": "Save Settings",
        "style": {
            "label": true
        },
        "nodes": [
            "cbf94f2f.049128",
            "340c566b.64c7b2",
            "877ea4e2.adbf48",
            "7aa57287.f3c874",
            "ec30362e.75a338",
            "1b81cf25.71f1d9",
            "47454400.142664"
        ],
        "x": 14,
        "y": 139,
        "w": 792,
        "h": 202
    },
    {
        "id": "8684bcb0.1421e8",
        "type": "group",
        "z": "417600d2.281de8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a54ccf7c.81e578",
            "649ae0bc.ad383",
            "abfe4cc9.7d8ef",
            "e0bd9360.b0b54"
        ],
        "x": 14,
        "y": 2239,
        "w": 722,
        "h": 162
    },
    {
        "id": "1e53e9c9.7d31ae",
        "type": "group",
        "z": "417600d2.281de8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cef75e60.e98f28",
            "91f99d89.24cb3",
            "ef76b386.99f418",
            "1c42610d.87b827",
            "a1132c8e.6c4d58",
            "aec675d2.91142",
            "559f1142.a9ade8",
            "f33ad501.f5832",
            "6c9f2b88.cfe9bc",
            "fa8acfcd.7e487",
            "2788977a.7685e8",
            "35a32e34.a14d1a",
            "7a825095.86bfb8",
            "f101076e.a9d99",
            "e4b16796.7dd1d",
            "f915f844.20b58",
            "d5faa3b9.8fc85",
            "a177c4ed.4d4d88",
            "e7c6a6df.f26c58",
            "95fec943.412418",
            "2a86f3d3.7c1cfc",
            "6a6f4c75.a260bc"
        ],
        "x": 14,
        "y": 379,
        "w": 1072,
        "h": 382
    },
    {
        "id": "7bec5cb5.2c8684",
        "type": "group",
        "z": "417600d2.281de8",
        "name": "Selected User Actions",
        "style": {
            "label": true
        },
        "nodes": [
            "9c178ab7.b2b618",
            "38410292.5a059e",
            "4f83d257.a05e84",
            "e8a793b9.a30d98",
            "599f960.d29c7ec",
            "f5cadcb6.79b21",
            "b41bd73e.c303e",
            "4a6af20f.ecb29c",
            "5a3b6ae8.5701c4",
            "71ee22a4.640ac4",
            "f0db2f83.f8d898",
            "840cdcb0.3b9c2",
            "8dc8d1f2.0d7ae",
            "5071156.9bac2ec",
            "8b9ab5d3.0a69a8",
            "cf62f745.ed758",
            "68584be3.601e3c",
            "61c69a6.f3ff0e4",
            "e6d7ddac.57373",
            "243b9a20.938f16",
            "83913d91.ded318",
            "94cde52e.7a8cf",
            "85f9d091.44e058",
            "6129fb47.09861c",
            "613e2ad6.e24d1c",
            "90e6d337.3763e",
            "294162a2.afcede",
            "24a620c2.3e0e8",
            "3863a36e.b3878c",
            "1a4ccd00.cf2a93",
            "2c260e2.1f96b72",
            "c3e4e426.d30c2",
            "6516f63d.78e518",
            "d41758fe.c3ec6",
            "2f8cb4c6.f53c4c",
            "a30ebee.3959e4",
            "de4f7261.40b748",
            "22895352.b0e03c",
            "8e5c536b.607618",
            "c696c784.af421",
            "3bca4c78.123484",
            "afc72fe6.ea11c8",
            "dc265ab1.25f668",
            "e4e43c80.de2278",
            "c8335138.64385",
            "8b695c53.e25998",
            "bddf5e93.a8b558"
        ],
        "x": 14,
        "y": 1719,
        "w": 1592,
        "h": 482
    },
    {
        "id": "b4c900b3.c08868",
        "type": "group",
        "z": "417600d2.281de8",
        "name": "Intro Text",
        "style": {
            "label": true
        },
        "nodes": [
            "c6f23791.ef6b18"
        ],
        "x": 14,
        "y": 19,
        "w": 152,
        "h": 82
    },
    {
        "id": "1320fe0a.3943fa",
        "type": "group",
        "z": "584bfa46.70cd0c",
        "name": "Setting Virtual Backgrounds - Pro Feature",
        "style": {
            "label": true
        },
        "nodes": [
            "173dacb9.3248ab",
            "9d59ac2c.16c248",
            "fff894af.6c34a",
            "9c5cad4b.f52fe8",
            "bd2bc656.d338f"
        ],
        "x": 24,
        "y": 19,
        "w": 532,
        "h": 202
    },
    {
        "id": "a26b29af.4d64a8",
        "type": "group",
        "z": "417600d2.281de8",
        "name": "Set Text for OBS Lower Third",
        "style": {
            "label": true
        },
        "nodes": [
            "a7b198de.0bacb8",
            "60ea1a31.4ef364",
            "55373514.9f2e34"
        ],
        "x": 774,
        "y": 2239,
        "w": 652,
        "h": 82
    },
    {
        "id": "75bd0937.6cda78",
        "type": "group",
        "z": "29e414d1.c9f644",
        "name": "Introduction Text",
        "style": {
            "label": true
        },
        "nodes": [
            "9884c834.546d38"
        ],
        "x": 84,
        "y": 39,
        "w": 172,
        "h": 82
    },
    {
        "id": "573d9279.0eaa04",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Zoom Red",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b0d48d59.d45628",
        "type": "ui_tab",
        "name": "In Meeting",
        "icon": "group",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e69902f8.5bed4",
        "type": "ui_group",
        "name": "Users",
        "tab": "b0d48d59.d45628",
        "order": 4,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "3446b061.aa8348",
        "type": "ui_group",
        "name": "Gallery",
        "tab": "9f44a0a4.c1fa68",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "34097c40.447bcc",
        "type": "ui_group",
        "name": "Mute Controls",
        "tab": "b0d48d59.d45628",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e14cccb0.beedd8",
        "type": "ui_group",
        "name": "Ping",
        "tab": "9f44a0a4.c1fa68",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "b706b32.2fc16d",
        "type": "ui_group",
        "name": "Meeting Controls",
        "tab": "b20d1570.465fe",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b1fe632c.68f618",
        "type": "ui_group",
        "name": "Gallery or Speaker",
        "tab": "b0d48d59.d45628",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "53c643e.1f6bebc",
        "type": "ui_group",
        "name": "Pin and Spot",
        "tab": "b0d48d59.d45628",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9f44a0a4.c1fa68",
        "type": "ui_tab",
        "name": "Diagnostics",
        "icon": "check_circle",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7026ce34.c6f158",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e69902f8.5bed4",
        "order": 8,
        "width": "9",
        "height": 1
    },
    {
        "id": "b20d1570.465fe",
        "type": "ui_tab",
        "name": "Session Controls",
        "icon": "power_settings_new",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b6887465.612ad",
        "type": "ui_group",
        "name": "Join Meeting",
        "tab": "b20d1570.465fe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "262ffe42.cf9182",
        "type": "ui_group",
        "name": "Utility",
        "tab": "b20d1570.465fe",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bb94a052.4139b",
        "type": "ui_group",
        "name": "Network Settings",
        "tab": "b20d1570.465fe",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2aa8e7ed.fefec8",
        "type": "ui_group",
        "name": "Test Fleet",
        "tab": "818a0f54.1ac028",
        "order": 3,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "60241fce.47cad",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "3446b061.aa8348",
        "order": 4,
        "width": "6",
        "height": "2"
    },
    {
        "id": "818a0f54.1ac028",
        "type": "ui_tab",
        "name": "Testing",
        "icon": "code",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "979427e9.396bc",
        "type": "ui_group",
        "name": "Kill All ZoomOSC",
        "tab": "818a0f54.1ac028",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aa26466b.7070c8",
        "type": "ui_tab",
        "name": "Multiclient",
        "icon": "fa-group",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a03fa8bd.11d808",
        "type": "ui_group",
        "name": "Launch",
        "tab": "aa26466b.7070c8",
        "order": 3,
        "disp": true,
        "width": "16",
        "collapse": true
    },
    {
        "id": "a9ebce72.b238d",
        "type": "ui_group",
        "name": "Terminate",
        "tab": "aa26466b.7070c8",
        "order": 4,
        "disp": true,
        "width": "16",
        "collapse": true
    },
    {
        "id": "34e0077d.69c1d",
        "type": "ui_group",
        "name": "Settings",
        "tab": "aa26466b.7070c8",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": true
    },
    {
        "id": "44a52049.ba216",
        "type": "ui_group",
        "name": "Panelists Pin Controls",
        "tab": "aa26466b.7070c8",
        "order": 5,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "68456f7b.49d198",
        "type": "ui_group",
        "name": "Introduction",
        "tab": "aa26466b.7070c8",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": true
    },
    {
        "id": "6bfe5434.d422cc",
        "type": "ui_group",
        "name": "User List",
        "tab": "aa26466b.7070c8",
        "order": 6,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "1bb6434f.c00525",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a03fa8bd.11d808",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "ca92d126.e9eb58",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a03fa8bd.11d808",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "c704bfb.6194a4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a9ebce72.b238d",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "95d53433.98c868",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "44a52049.ba216",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "631ea8e5.16691",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "44a52049.ba216",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "f15422f6.b05668",
        "type": "ui_tab",
        "d": true,
        "name": "Homework Week 2",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d9d42ea1.8da5d",
        "type": "ui_group",
        "name": "Introduction",
        "tab": "f15422f6.b05668",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "3db3f60c.5c3cea",
        "type": "udp out",
        "z": "73938c67.dac0ac",
        "g": "bf3e5a12.3393f",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "8e791d87.7fea2",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "bf3e5a12.3393f",
        "name": "set network parms",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "zoomosc_ip",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "zoomosc_port",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "3db3f60c.5c3cea",
                "9fe05ea6.1119e"
            ]
        ]
    },
    {
        "id": "9fe05ea6.1119e",
        "type": "debug",
        "z": "73938c67.dac0ac",
        "g": "bf3e5a12.3393f",
        "name": "To ZoomOSC udp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "c3effac1.3bfdc8",
        "type": "udp in",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "",
        "iface": "",
        "port": "1234",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "fa85aa2d.775778"
            ]
        ]
    },
    {
        "id": "67110b0b.8a29ac",
        "type": "debug",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "From ZoomOSC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 360,
        "wires": []
    },
    {
        "id": "fa85aa2d.775778",
        "type": "osc",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 250,
        "y": 500,
        "wires": [
            [
                "67110b0b.8a29ac",
                "4450291d.656bf"
            ]
        ]
    },
    {
        "id": "e5be326c.4063e",
        "type": "osc",
        "z": "73938c67.dac0ac",
        "g": "bf3e5a12.3393f",
        "name": "zoomOSC",
        "path": "",
        "metadata": false,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "8e791d87.7fea2"
            ]
        ]
    },
    {
        "id": "5a38b5cd.fff45c",
        "type": "inject",
        "z": "73938c67.dac0ac",
        "g": "e7464d93.8a5de8",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/zoom/me/listScreens",
        "payloadType": "str",
        "x": 160,
        "y": 3020,
        "wires": [
            [
                "bd5834a7.19337"
            ]
        ]
    },
    {
        "id": "4450291d.656bf",
        "type": "switch",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/zoomosc/pong",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zoomosc/galleryCount",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zoomosc/galleryShape",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zoomosc/galleryOrder",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zoomosc/user/list",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zoomosc/user/mute",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zoomosc/user/unMute",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zoomosc/user/videoOff",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zoomosc/user/videoOn",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zoomosc/user/spotlightOn",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zoomosc/user/spotlightOff",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zoomosc/me/list",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 12,
        "x": 470,
        "y": 500,
        "wires": [
            [
                "68d21d79.8cebec"
            ],
            [
                "ff1dd203.0f15c"
            ],
            [
                "8458812b.59cb1"
            ],
            [
                "83a942b6.b64a08"
            ],
            [
                "4154f877.d58458"
            ],
            [
                "4154f877.d58458"
            ],
            [
                "4154f877.d58458"
            ],
            [
                "4154f877.d58458"
            ],
            [
                "4154f877.d58458"
            ],
            [
                "4154f877.d58458"
            ],
            [
                "4154f877.d58458"
            ],
            [
                "4154f877.d58458"
            ]
        ],
        "outputLabels": [
            "pong",
            "galleryCount",
            "galleryShape",
            "galleryOrder",
            "user list",
            "mute",
            "unMute",
            "videoOff",
            "videoOn",
            "spotOn",
            "spotOff",
            "me list"
        ]
    },
    {
        "id": "8c44154e.82428",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "9a75246e.77f24",
        "name": "",
        "group": "e69902f8.5bed4",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Refresh Users",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/list",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "47225bef.34f704",
                "71616093.ff1c28"
            ]
        ]
    },
    {
        "id": "ff1dd203.0f15c",
        "type": "ui_text",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "group": "3446b061.aa8348",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "galleryCount",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "8458812b.59cb1",
        "type": "ui_text",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "group": "3446b061.aa8348",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "galleryShape",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "83a942b6.b64a08",
        "type": "ui_text",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "group": "3446b061.aa8348",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "galleryOrder",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "8726a404.acb658",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "8f22f025.890338",
        "name": "",
        "group": "53c643e.1f6bebc",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "unSpot Me",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/me/unSpot",
        "x": 110,
        "y": 940,
        "wires": [
            [
                "32425712.bca138"
            ]
        ]
    },
    {
        "id": "4296dd84.b0a694",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "8f22f025.890338",
        "name": "",
        "group": "53c643e.1f6bebc",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Clear Spot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/clearSpot",
        "x": 110,
        "y": 1020,
        "wires": [
            [
                "32425712.bca138"
            ]
        ]
    },
    {
        "id": "d66276a4.8c4c7",
        "type": "ui_switch",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "",
        "label": "Users",
        "tooltip": "",
        "group": "34097c40.447bcc",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 90,
        "y": 2120,
        "wires": [
            [
                "dcadc834.c415e8"
            ]
        ]
    },
    {
        "id": "dcadc834.c415e8",
        "type": "switch",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 2120,
        "wires": [
            [
                "2033df4b.a11ee8",
                "1c873d09.528f23"
            ],
            [
                "ccd8fe38.65aed8",
                "e456edff.80b1d"
            ]
        ]
    },
    {
        "id": "2033df4b.a11ee8",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "enable",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/zoom/enableUsersUnmute",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2060,
        "wires": [
            [
                "3e83a4c1.9f439c"
            ]
        ]
    },
    {
        "id": "ccd8fe38.65aed8",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "disable",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/zoom/disableUsersUnmute",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 2180,
        "wires": [
            [
                "6f985efb.11e7c"
            ]
        ]
    },
    {
        "id": "603f0200.f9be5c",
        "type": "ui_text",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "group": "34097c40.447bcc",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 790,
        "y": 2120,
        "wires": []
    },
    {
        "id": "e456edff.80b1d",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "Cannot Unmute",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Cannot Unmute",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 2140,
        "wires": [
            [
                "603f0200.f9be5c"
            ]
        ]
    },
    {
        "id": "1c873d09.528f23",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "Can unMute",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Can unMute",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 2100,
        "wires": [
            [
                "603f0200.f9be5c"
            ]
        ]
    },
    {
        "id": "bd86dd82.d2f74",
        "type": "ui_switch",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "",
        "label": "My Mute",
        "tooltip": "",
        "group": "34097c40.447bcc",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 100,
        "y": 2260,
        "wires": [
            [
                "72552f1a.30ca98"
            ]
        ]
    },
    {
        "id": "72552f1a.30ca98",
        "type": "switch",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 2260,
        "wires": [
            [
                "957634f4.5a896"
            ],
            [
                "861ebbb.88d94c8"
            ]
        ]
    },
    {
        "id": "957634f4.5a896",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "mute",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/zoom/me/Mute",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 2240,
        "wires": [
            [
                "6f985efb.11e7c"
            ]
        ]
    },
    {
        "id": "861ebbb.88d94c8",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "unmute",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/zoom/me/Unmute",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 2280,
        "wires": [
            [
                "6f985efb.11e7c"
            ]
        ]
    },
    {
        "id": "8a313077.cf5f3",
        "type": "link in",
        "z": "73938c67.dac0ac",
        "g": "bf3e5a12.3393f",
        "name": "ToZoomOsc",
        "links": [
            "6f985efb.11e7c",
            "46f43be6.8a605c",
            "2bc17d58.156a9a",
            "32425712.bca138",
            "84f20dfb.6970e8",
            "aaeba03f.6b66f",
            "bd5834a7.19337",
            "3e83a4c1.9f439c",
            "5a9d487.cff0938",
            "1c42610d.87b827",
            "9d59ac2c.16c248"
        ],
        "x": 55,
        "y": 100,
        "wires": [
            [
                "e5be326c.4063e"
            ]
        ]
    },
    {
        "id": "6f985efb.11e7c",
        "type": "link out",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "ToZoomOSC",
        "links": [
            "8a313077.cf5f3"
        ],
        "x": 755,
        "y": 2240,
        "wires": []
    },
    {
        "id": "c33cbea6.ca6c58",
        "type": "inject",
        "z": "73938c67.dac0ac",
        "g": "e7464d93.8a5de8",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/zoom/me/listWindows",
        "x": 160,
        "y": 2980,
        "wires": [
            [
                "bd5834a7.19337"
            ]
        ]
    },
    {
        "id": "63b51234.9f4b64",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "",
        "group": "b706b32.2fc16d",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "End",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/endMeeting",
        "x": 110,
        "y": 1620,
        "wires": [
            [
                "46f43be6.8a605c"
            ]
        ]
    },
    {
        "id": "cd90a590.e286d8",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "",
        "group": "b706b32.2fc16d",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Leave",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/leaveMeeting",
        "x": 110,
        "y": 1580,
        "wires": [
            [
                "46f43be6.8a605c"
            ]
        ]
    },
    {
        "id": "46f43be6.8a605c",
        "type": "link out",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "ToZoomOSC",
        "links": [
            "8a313077.cf5f3"
        ],
        "x": 515,
        "y": 1540,
        "wires": []
    },
    {
        "id": "47225bef.34f704",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "9a75246e.77f24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/zoom/list",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 800,
        "wires": [
            [
                "66a97045.5c2e9",
                "aaeba03f.6b66f"
            ]
        ]
    },
    {
        "id": "66a97045.5c2e9",
        "type": "debug",
        "z": "73938c67.dac0ac",
        "g": "9a75246e.77f24",
        "name": "ul msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 800,
        "wires": []
    },
    {
        "id": "9de8a089.2741a8",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "3353a48a.b34c7c",
        "name": "",
        "group": "b1fe632c.68f618",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Gallery View",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/me/setGalleryView",
        "x": 110,
        "y": 1200,
        "wires": [
            [
                "2bc17d58.156a9a"
            ]
        ]
    },
    {
        "id": "98082d7e.ea3f6",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "3353a48a.b34c7c",
        "name": "",
        "group": "b1fe632c.68f618",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Speaker View",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/me/setSpeakerView",
        "x": 120,
        "y": 1240,
        "wires": [
            [
                "2bc17d58.156a9a"
            ]
        ]
    },
    {
        "id": "2bc17d58.156a9a",
        "type": "link out",
        "z": "73938c67.dac0ac",
        "g": "3353a48a.b34c7c",
        "name": "ToZoomOSC",
        "links": [
            "8a313077.cf5f3"
        ],
        "x": 395,
        "y": 1220,
        "wires": []
    },
    {
        "id": "32425712.bca138",
        "type": "link out",
        "z": "73938c67.dac0ac",
        "g": "8f22f025.890338",
        "name": "ToZoomOSC",
        "links": [
            "8a313077.cf5f3"
        ],
        "x": 675,
        "y": 940,
        "wires": []
    },
    {
        "id": "4b26af43.b2637",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "bf3e5a12.3393f",
        "name": "",
        "group": "e14cccb0.beedd8",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Ping",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "/zoom/ping",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "bd287e97.0ece58"
            ]
        ]
    },
    {
        "id": "8f474d77.9c1d2",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "8f22f025.890338",
        "name": "",
        "group": "53c643e.1f6bebc",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Clear Pin",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/clearPin",
        "x": 100,
        "y": 1060,
        "wires": [
            [
                "32425712.bca138"
            ]
        ]
    },
    {
        "id": "3096f4b1.ae8e24",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "",
        "group": "34097c40.447bcc",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Mute All",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/all/mute",
        "x": 100,
        "y": 1980,
        "wires": [
            [
                "3e83a4c1.9f439c"
            ]
        ]
    },
    {
        "id": "fade3d9.8c5f1c",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "",
        "group": "34097c40.447bcc",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "unMute All",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/all/unMute",
        "x": 110,
        "y": 1940,
        "wires": [
            [
                "3e83a4c1.9f439c"
            ]
        ]
    },
    {
        "id": "3391f39b.65cb6c",
        "type": "ui_table",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "group": "e69902f8.5bed4",
        "name": "",
        "order": 15,
        "width": "24",
        "height": "13",
        "columns": [
            {
                "field": "user",
                "title": "User",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "video",
                "title": "Video",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "mute",
                "title": "Mute",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "pin",
                "title": "PIN",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "spot",
                "title": "Spot",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "activespeaker",
                "title": "Active",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "row",
                "title": "Row",
                "width": "",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "id",
                "title": "Id",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1190,
        "y": 520,
        "wires": [
            [
                "fa49dade.a0139"
            ]
        ]
    },
    {
        "id": "4d245d11.740cb4",
        "type": "function",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "parse userlist",
        "func": "out = []\n\nd = msg.payload; //[-1,\"Media Operator\",1,16778240,0,3,1,1,1,1,0]\n\nvar ut = global.get('usertable')||{}\n\nconsole.log(ut)\n\nut[ d[3] ] = { \"id\": d[3],    \n    \"name\" : d[1] ,\n    \"mute\" : \"?\",\n    \"video\" : \"?\",\n    \"spot\"  : \"?\"\n}\n\nglobal.set('usertable', ut) \n\n//msg = { \"payload\" : out}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 770,
        "y": 520,
        "wires": [
            [
                "93340b08.cc7e"
            ]
        ]
    },
    {
        "id": "83b6677.3f1ed18",
        "type": "debug",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "totable",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 580,
        "wires": []
    },
    {
        "id": "8f26078c.64cd9",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "",
        "group": "34097c40.447bcc",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "All but me",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/allExcept/me/mute",
        "x": 100,
        "y": 2020,
        "wires": [
            [
                "3e83a4c1.9f439c"
            ]
        ]
    },
    {
        "id": "71616093.ff1c28",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "9a75246e.77f24",
        "name": "Clear",
        "rules": [
            {
                "t": "set",
                "p": "usertable",
                "pt": "flow",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "75f58eb3.f0fbc8",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "3353a48a.b34c7c",
        "name": "",
        "group": "b1fe632c.68f618",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Show User Names",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/all/showUserNames",
        "x": 130,
        "y": 1280,
        "wires": [
            [
                "2bc17d58.156a9a"
            ]
        ]
    },
    {
        "id": "e00106d8.34ae58",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "3353a48a.b34c7c",
        "name": "",
        "group": "b1fe632c.68f618",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Hide User Names",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/all/hideUserNames",
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "2bc17d58.156a9a"
            ]
        ]
    },
    {
        "id": "93340b08.cc7e",
        "type": "function",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "format usertable",
        "func": "// Retreive usertable from  context and format for display\n\nout = []\ni = 0\n\nvar ut = global.get('usertable')||{}\n\nfor (const [k, v] of Object.entries(ut)) {\n  console.log(\"format usertable:\" + `${k}: ${v} ${v.name}`);\n  if (v.name == \"--NO USER--\") continue;\n\n    out.push( {\n        \"row\"  : i,\n        \"id\"   : v.id,\n        \"user\" : v.name,\n        \"mute\" : v.mute,\n        \"video\": v.video,\n        \"pin\"  : \"p\",\n        \"spot\" : v.spot,\n        \"activespeaker\" : \"a\"\n    })\n    i +=1 \n}\n\nmsg = { \"payload\" : out}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 520,
        "wires": [
            [
                "3391f39b.65cb6c",
                "83b6677.3f1ed18"
            ]
        ]
    },
    {
        "id": "4154f877.d58458",
        "type": "function",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "general parser",
        "func": "out = []\ni = 0\nt = msg.topic\nvar ut = global.get('usertable')||{}\nd = msg.payload;\n\nconsole.log('BEFORE:' + Date() + \"FUNCTION: general parser\"   )\nconsole.log(\"payload:\" + d)\nconsole.log(\"id:\" +  d[3] )\n \nid   = d[3]; \n \nif (typeof(ut[id]) == 'undefined') {\n    console.log(\"new entry:\" + id)\n    name = d[1]\n    mute = \"?\"\n    video = \"?\"\n    spot = \"?\"\n} else {\n    name = d[1] ; // always get the latest name ut[id].name\n    mute = ut[id].mute\n    video = ut[id].video\n    spot = ut[id].spot    \n}\n\nswitch(t) {\n  case \"/zoomosc/user/videoOff\":\n    video = \"Off\"\n    break;\n  case \"/zoomosc/user/videoOn\":\n    video = \"On\"\n    break;\n  case \"/zoomosc/user/mute\":\n    mute = \"Muted\"\n    break;\n  case \"/zoomosc/user/unMute\":\n    mute = \"Unmuted\"\n    break;\n  case \"/zoomosc/user/spotlightOn\":\n    spot = \"On\"\n    break;\n  case \"/zoomosc/user/spotlightOff\":\n    mute = \"Off\"\n    break;    \n  case \"/zoomosc/user/list\":\n      break;\n      case \"/zoomosc/me/list\":\n      break;      \n  default:\n    // code block\n}\n\n//console.log(ut)\n\nut[ id ] = { \"id\": id,  \n                \"name\": name,\n                \"mute\" : mute,\n                \"video\" : video,\n                \"spot\"  : spot\n}\n                \n//console.log('after')  \n//console.log(ut[d[3]])\n\nglobal.set('usertable', ut) \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 580,
        "wires": [
            [
                "93340b08.cc7e"
            ]
        ]
    },
    {
        "id": "1a4b1a5c.43e0c6",
        "type": "inject",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 960,
        "y": 420,
        "wires": [
            [
                "93340b08.cc7e"
            ]
        ]
    },
    {
        "id": "fa49dade.a0139",
        "type": "link out",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "Selected User",
        "links": [
            "c747b0af.6dc26",
            "85a48e72.981c48"
        ],
        "x": 1315,
        "y": 520,
        "wires": []
    },
    {
        "id": "c747b0af.6dc26",
        "type": "link in",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "displaySelectedUser",
        "links": [
            "fa49dade.a0139"
        ],
        "x": 55,
        "y": 2520,
        "wires": [
            [
                "d79b8521.8593a",
                "4100a9ea.f8c718",
                "786c90e4.494968"
            ]
        ]
    },
    {
        "id": "c5537a3d.000298",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "8f22f025.890338",
        "name": "",
        "group": "53c643e.1f6bebc",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Spot Me",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/zoom/me/spot",
        "x": 100,
        "y": 980,
        "wires": [
            [
                "32425712.bca138"
            ]
        ]
    },
    {
        "id": "5cc2d4c8.8862bc",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "",
        "group": "e69902f8.5bed4",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "unPin",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "selectedid",
        "payloadType": "flow",
        "topic": "/zoom/zoomID/unPin",
        "x": 390,
        "y": 2480,
        "wires": [
            [
                "8bee5d90.93213"
            ]
        ]
    },
    {
        "id": "8286762a.9d5818",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "",
        "group": "e69902f8.5bed4",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "addPin",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "selectedid",
        "payloadType": "flow",
        "topic": "/zoom/zoomID/addpin",
        "x": 400,
        "y": 2520,
        "wires": [
            [
                "8bee5d90.93213"
            ]
        ]
    },
    {
        "id": "a3ba248d.dfbef",
        "type": "ui_text",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "group": "e69902f8.5bed4",
        "order": 2,
        "width": 21,
        "height": 1,
        "name": "",
        "label": "Selected User Name",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 400,
        "y": 2420,
        "wires": []
    },
    {
        "id": "5501af4f.e880f",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "",
        "group": "e69902f8.5bed4",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "unSpot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "selectedid",
        "payloadType": "flow",
        "topic": "/zoom/zoomID/unSpot",
        "x": 400,
        "y": 2560,
        "wires": [
            [
                "8bee5d90.93213"
            ]
        ]
    },
    {
        "id": "7c62d446.fe1f24",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "",
        "group": "e69902f8.5bed4",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Spot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "selectedid",
        "payloadType": "flow",
        "topic": "/zoom/zoomID/spot",
        "x": 390,
        "y": 2600,
        "wires": [
            [
                "8bee5d90.93213"
            ]
        ]
    },
    {
        "id": "d79b8521.8593a",
        "type": "debug",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "selectedUser",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 2600,
        "wires": []
    },
    {
        "id": "4100a9ea.f8c718",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.user",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 2420,
        "wires": [
            [
                "a3ba248d.dfbef"
            ]
        ]
    },
    {
        "id": "786c90e4.494968",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "save ID to context",
        "rules": [
            {
                "t": "set",
                "p": "selectedid",
                "pt": "flow",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "84f20dfb.6970e8",
        "type": "link out",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "",
        "links": [
            "8a313077.cf5f3"
        ],
        "x": 735,
        "y": 2640,
        "wires": []
    },
    {
        "id": "80332035.35b87",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "",
        "group": "e69902f8.5bed4",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Add Spot ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "selectedid",
        "payloadType": "flow",
        "topic": "/zoom/zoomID/addSpot",
        "x": 400,
        "y": 2640,
        "wires": [
            [
                "8bee5d90.93213"
            ]
        ]
    },
    {
        "id": "1a3b52b6.24a80d",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "",
        "group": "e69902f8.5bed4",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Video On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "selectedid",
        "payloadType": "flow",
        "topic": "/zoom/zoomID/videoOn",
        "x": 400,
        "y": 2680,
        "wires": [
            [
                "8bee5d90.93213"
            ]
        ]
    },
    {
        "id": "76119781.53cf98",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "",
        "group": "e69902f8.5bed4",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Video Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "selectedid",
        "payloadType": "flow",
        "topic": "/zoom/zoomID/videoOff",
        "x": 400,
        "y": 2720,
        "wires": [
            [
                "8bee5d90.93213"
            ]
        ]
    },
    {
        "id": "8f101a1c.a092f",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "",
        "group": "e69902f8.5bed4",
        "order": 12,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Mute",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "selectedid",
        "payloadType": "flow",
        "topic": "/zoom/zoomID/mute",
        "x": 390,
        "y": 2760,
        "wires": [
            [
                "8bee5d90.93213"
            ]
        ]
    },
    {
        "id": "3fe1a3da.96e8dc",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "",
        "group": "e69902f8.5bed4",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "unMute",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "selectedid",
        "payloadType": "flow",
        "topic": "/zoom/zoomID/unMute",
        "x": 400,
        "y": 2800,
        "wires": [
            [
                "8bee5d90.93213"
            ]
        ]
    },
    {
        "id": "aaeba03f.6b66f",
        "type": "link out",
        "z": "73938c67.dac0ac",
        "g": "9a75246e.77f24",
        "name": "ToZoomOSC",
        "links": [
            "8a313077.cf5f3"
        ],
        "x": 515,
        "y": 740,
        "wires": []
    },
    {
        "id": "bd5834a7.19337",
        "type": "link out",
        "z": "73938c67.dac0ac",
        "g": "e7464d93.8a5de8",
        "name": "ToZoomOSC",
        "links": [
            "8a313077.cf5f3"
        ],
        "x": 355,
        "y": 3000,
        "wires": []
    },
    {
        "id": "66601b96.abcad4",
        "type": "comment",
        "z": "73938c67.dac0ac",
        "g": "e7464d93.8a5de8",
        "name": "Both are creating the same repsonse topic - Bug?",
        "info": "Andy says it is a bug on the zoom side.",
        "x": 230,
        "y": 2940,
        "wires": []
    },
    {
        "id": "3e83a4c1.9f439c",
        "type": "link out",
        "z": "73938c67.dac0ac",
        "g": "4f432da1.69efcc",
        "name": "ToZoomOSC",
        "links": [
            "8a313077.cf5f3"
        ],
        "x": 755,
        "y": 1980,
        "wires": []
    },
    {
        "id": "a3eb01d1.59552",
        "type": "inject",
        "z": "73938c67.dac0ac",
        "g": "e7464d93.8a5de8",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/zoom/all/endMeeting",
        "x": 160,
        "y": 3080,
        "wires": [
            [
                "bd5834a7.19337"
            ]
        ]
    },
    {
        "id": "93e9c3f0.384fe",
        "type": "comment",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "table formatting incomplete",
        "info": "",
        "x": 1250,
        "y": 460,
        "wires": []
    },
    {
        "id": "9ee620d7.f38748",
        "type": "comment",
        "z": "73938c67.dac0ac",
        "g": "9a75246e.77f24",
        "name": "Clear is not working correctly when no call active",
        "info": "",
        "x": 220,
        "y": 720,
        "wires": []
    },
    {
        "id": "c699a530.afa03",
        "type": "ui_form",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "Join",
        "label": "Join Meeting",
        "group": "b6887465.612ad",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Meeting ID",
                "value": "meetingid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Name",
                "value": "name",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "meetingid": "",
            "password": "",
            "name": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 110,
        "y": 1660,
        "wires": [
            [
                "f61c489f.2a26e"
            ]
        ]
    },
    {
        "id": "f61c489f.2a26e",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "format",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/zoom/joinMeeting",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"type\" : \"s\",\t       \"value\" : payload.meetingid\t    },\t   {\t       \"type\" : \"s\",\t       \"value\" : payload.password\t    },\t   {\t       \"type\" : \"s\",\t       \"value\" : payload.name\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 1660,
        "wires": [
            [
                "46f43be6.8a605c"
            ]
        ]
    },
    {
        "id": "14d57df0.dbd8b2",
        "type": "comment",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "Join message takes three separate string arguments",
        "info": "",
        "x": 590,
        "y": 1640,
        "wires": []
    },
    {
        "id": "dfa0fa11.cd646",
        "type": "comment",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "unspot isnt working properly",
        "info": "the repsonse message is /zoomosc/me/spotlightOff\nexpected /zoomosc/zoomID/spotlightOff",
        "x": 210,
        "y": 2760,
        "wires": []
    },
    {
        "id": "9f0bfbbf.eef0e8",
        "type": "ui_dropdown",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "",
        "label": "Subscription Level",
        "tooltip": "Sets subscription level for user output data. ",
        "place": "All",
        "group": "262ffe42.cf9182",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "None",
                "value": 0,
                "type": "num"
            },
            {
                "label": "TargetList",
                "value": 1,
                "type": "num"
            },
            {
                "label": "All",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Panelists",
                "value": 3,
                "type": "num"
            },
            {
                "label": " OnlyGallery",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "/zoom/subscribe",
        "x": 150,
        "y": 1520,
        "wires": [
            [
                "46f43be6.8a605c"
            ]
        ]
    },
    {
        "id": "7b6d8d0c.091e9c",
        "type": "ui_dropdown",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "",
        "label": "Gallery Tracking",
        "tooltip": "Changes gallery tracking mode to participantID or zoomID.",
        "place": "participantID",
        "group": "262ffe42.cf9182",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "participantID",
                "value": 0,
                "type": "num"
            },
            {
                "label": "zoomID",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "/zoom/galTrackMode",
        "x": 140,
        "y": 1460,
        "wires": [
            [
                "46f43be6.8a605c"
            ]
        ]
    },
    {
        "id": "8bee5d90.93213",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "39660f71.497918",
        "name": "format",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "   {\t       \"type\" : \"i\",\t       \"value\" : payload \t    } ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 2640,
        "wires": [
            [
                "84f20dfb.6970e8"
            ]
        ]
    },
    {
        "id": "68d21d79.8cebec",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "format",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"key\" : \"Ping Text\",\t       \"value\" : payload[0]\t   },\t   {\t       \"key\" : \"Version\",\t       \"value\" : payload[1]    \t   } ,\t   {\t       \"key\" : \"subscribeMode\",\t       \"value\" : payload[2]    \t   } ,\t   {\t       \"key\" : \"galTrackMode\",\t       \"value\" : payload[3]    \t   } ,\t   {\t       \"key\" : \"callStatus\",\t       \"value\" : payload[4]    \t   } ,\t   {\t       \"key\" : \"number of targets\",\t       \"value\" : payload[5]    \t   } ,\t   {\t       \"key\" : \"number of users in call\",\t       \"value\" : payload[6]    \t   }    \t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "fc277a34.d21a3"
            ]
        ]
    },
    {
        "id": "fc277a34.d21a3",
        "type": "ui_table",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "group": "e14cccb0.beedd8",
        "name": "Pong Table",
        "order": 2,
        "width": 8,
        "height": 4,
        "columns": [
            {
                "field": "key",
                "title": "Key",
                "width": "60%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "value",
                "title": "Value",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "1836ad29.55decb",
        "type": "inject",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "prime the parms",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t   \"ip\": $globalContext(\"zoomosc_ip\") ? $globalContext(\"zoomosc_ip\") : \"127.0.0.1\",\t   \"port\": $globalContext(\"zoomosc_port\") ? $globalContext(\"zoomosc_port\") : \"9090\"\t}",
        "payloadType": "jsonata",
        "x": 150,
        "y": 1720,
        "wires": [
            [
                "54d81a13.473a9c"
            ]
        ]
    },
    {
        "id": "54d81a13.473a9c",
        "type": "ui_form",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "Network settings",
        "label": "ZoomOSC Client Address",
        "group": "bb94a052.4139b",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "ZoomOSC IP",
                "value": "ip",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "ZoomOSC Port",
                "value": "port",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ip": "",
            "port": ""
        },
        "payload": "",
        "submit": "Save",
        "cancel": "cancel",
        "topic": "",
        "x": 370,
        "y": 1720,
        "wires": [
            [
                "b8f52048.1fd02",
                "d83372d3.9abbf8"
            ]
        ]
    },
    {
        "id": "b8f52048.1fd02",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "set global ip:port",
        "rules": [
            {
                "t": "set",
                "p": "zoomosc_ip",
                "pt": "global",
                "to": "payload.ip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "zoomosc_port",
                "pt": "global",
                "to": "payload.port",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "f9768951.02dfa8",
        "type": "ui_button",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "",
        "group": "bb94a052.4139b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set local defaults (then Save)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 1780,
        "wires": [
            [
                "d45bbcca.f2d8a"
            ]
        ]
    },
    {
        "id": "d45bbcca.f2d8a",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "defaults",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"ip\":   \"127.0.0.1\",\t   \"port\": \"9090\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1780,
        "wires": [
            [
                "54d81a13.473a9c"
            ]
        ]
    },
    {
        "id": "9212f4a1.d16db8",
        "type": "comment",
        "z": "73938c67.dac0ac",
        "g": "bf3e5a12.3393f",
        "name": "See Network Setting on Session Control page",
        "info": "",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "bd287e97.0ece58",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "bf3e5a12.3393f",
        "name": "format",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\t   {\t       \"type\" : \"s\",\t       \"value\" : $now('[H01]:[m01]:[s01] [z]', '-0500')\t    } ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "e5be326c.4063e"
            ]
        ]
    },
    {
        "id": "cc984c2c.33522",
        "type": "exec",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "command": "~/Dropbox/UAC_Software/bin/zoomOSC-fleet.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "oldrc": false,
        "name": "exec",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "90d78db0.5c5f2"
            ],
            [
                "ffd4819c.770548"
            ],
            [
                "18ec83d2.1b87c4"
            ]
        ]
    },
    {
        "id": "8969da29.79c5f8",
        "type": "ui_form",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "Launch Test",
        "label": "Launch Test Fleet",
        "group": "2aa8e7ed.fefec8",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Prefix",
                "value": "prefix",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "MeetingID",
                "value": "meetingid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "How many?",
                "value": "count",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "prefix": "",
            "meetingid": "",
            "password": "",
            "count": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "befdc645.74121"
            ]
        ]
    },
    {
        "id": "ae78cd7a.a06dd8",
        "type": "change",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "format parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\" -u \" & payload.prefix & \t\" -n \" & payload.count & \t\" -i \" & payload.meetingid &\t\" -p \" & payload.password  &\t\" -x \" & \"dummy\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "f5bff11b.f3861",
                "cc984c2c.33522"
            ]
        ]
    },
    {
        "id": "18ec83d2.1b87c4",
        "type": "ui_text",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "group": "2aa8e7ed.fefec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "return",
        "label": "return code",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "2ae36ad4.149bde",
        "type": "ui_button",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "",
        "group": "979427e9.396bc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kill ALL ZoomOSC",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "335d18e.c1b6be8"
            ]
        ]
    },
    {
        "id": "335d18e.c1b6be8",
        "type": "exec",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "command": "killall ZoomOSC",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "3",
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "bf15db33.bca2e8",
        "type": "comment",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "Eliminate the script?",
        "info": " /Applications/ZoomOSC.app/Contents/MacOS/ZoomOSC -ajo 1 $tempusername $id $password &>/dev/null",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "f5bff11b.f3861",
        "type": "debug",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "parameters",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "d17a3ce3.4a5e68",
        "type": "split",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 470,
        "y": 401,
        "wires": [
            [
                "fe1ef384.c7cc48",
                "ddda9464.847278"
            ]
        ]
    },
    {
        "id": "befdc645.74121",
        "type": "function",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "",
        "func": "out = []\ncmd = \"~/Dropbox/UAC_Software/bin/zoomOSC-fleet.sh\"\n\ncmd = \"/Applications/ZoomOSC.app/Contents/MacOS/ZoomOSC -ajo 1 \"\n\ncmd = \"./argtest.sh\" \n\np = msg.payload\n\n for (var i = 0; i < p.count; i++) { \n     user = p.prefix + i\n     \n     out.push( cmd \n     + \" -u \" + '\"' + user + '\"'  \n     + \" -m \" + '\"' + p.meetingid + '\"'\n     + \" -p \" + '\"' + p.password + '\"'\n     )\n   \n}\n\nmsg = { \"payload\" : out }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 401,
        "wires": [
            [
                "d17a3ce3.4a5e68"
            ]
        ]
    },
    {
        "id": "ddda9464.847278",
        "type": "exec",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "command": "/Applications/ZoomOSC.app/Contents/MacOS/ZoomOSC",
        "addpay": true,
        "append": "-ajo 1 >/dev/null &",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "4f78604e.726158"
            ],
            [
                "fdf378c5.24555"
            ],
            [
                "18ec83d2.1b87c4"
            ]
        ]
    },
    {
        "id": "fe1ef384.c7cc48",
        "type": "debug",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "4f78604e.726158",
        "type": "debug",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "fdf378c5.24555",
        "type": "debug",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 360,
        "wires": []
    },
    {
        "id": "90d78db0.5c5f2",
        "type": "debug",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "ffd4819c.770548",
        "type": "debug",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "6e4166aa.b845e",
        "type": "inject",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "./argtest.sh -a 1 -b 2 -c 3",
        "payloadType": "str",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "723cfff6.97f558"
            ]
        ]
    },
    {
        "id": "723cfff6.97f558",
        "type": "exec",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "text exec",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "77d305da.860934"
            ],
            [
                "f7b2ddb.a59bda"
            ],
            [
                "f4c194c7.4e4f98"
            ]
        ]
    },
    {
        "id": "77d305da.860934",
        "type": "debug",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "so",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "f7b2ddb.a59bda",
        "type": "debug",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "se",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 580,
        "wires": []
    },
    {
        "id": "f4c194c7.4e4f98",
        "type": "debug",
        "z": "c12db79c.dacf9",
        "g": "e237bfbd.ef848",
        "name": "rc",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 620,
        "wires": []
    },
    {
        "id": "7afcdf6c.bf4f6",
        "type": "comment",
        "z": "73938c67.dac0ac",
        "g": "4a1eee5f.c4f908",
        "name": "TODO Handle Offline msg",
        "info": "OSC message /zoomosc/user/offline -1 \"--NO USER--\" 16 16809984\n",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "77ba9999.2ec65",
        "type": "inject",
        "z": "73938c67.dac0ac",
        "g": "e7464d93.8a5de8",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/zoom/update",
        "x": 140,
        "y": 3120,
        "wires": [
            [
                "bd5834a7.19337"
            ]
        ]
    },
    {
        "id": "cbf94f2f.049128",
        "type": "ui_form",
        "z": "417600d2.281de8",
        "g": "2aa67a90.e9e8de",
        "name": "Client Settings",
        "label": "Client Settings",
        "group": "34e0077d.69c1d",
        "order": 1,
        "width": 6,
        "height": 9,
        "options": [
            {
                "label": "Prefix",
                "value": "prefix",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "MeetingID",
                "value": "meetingid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "How many?",
                "value": "count",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Tx Port",
                "value": "txp",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Rx Port Start",
                "value": "rxp",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Base IP",
                "value": "ip",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "prefix": "",
            "meetingid": "",
            "password": "",
            "count": "",
            "txp": "",
            "rxp": "",
            "ip": ""
        },
        "payload": "",
        "submit": "Save",
        "cancel": "cancel",
        "topic": "",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "7aa57287.f3c874"
            ]
        ]
    },
    {
        "id": "340c566b.64c7b2",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "2aa67a90.e9e8de",
        "name": "form defaults",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "fleet_parms",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "cbf94f2f.049128"
            ]
        ]
    },
    {
        "id": "877ea4e2.adbf48",
        "type": "inject",
        "z": "417600d2.281de8",
        "g": "2aa67a90.e9e8de",
        "name": "initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": ".2",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "340c566b.64c7b2"
            ]
        ]
    },
    {
        "id": "6b0a9d8a.8e05c4",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "f1398826.950628",
        "name": "iterate",
        "func": "out = []\n \np = msg.payload\n\n for (var i = 1; i <= p; i++) { \n\n     out.push( i )\n   \n}\n\nmsg = { \"payload\" : out }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "6a8fb6ee.5c8788"
            ]
        ]
    },
    {
        "id": "6a8fb6ee.5c8788",
        "type": "split",
        "z": "417600d2.281de8",
        "g": "f1398826.950628",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 350,
        "y": 920,
        "wires": [
            [
                "73a15135.d74f8"
            ]
        ]
    },
    {
        "id": "f046bc6f.319fc",
        "type": "debug",
        "z": "417600d2.281de8",
        "g": "f1398826.950628",
        "name": "ZoomOSC Command",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 920,
        "wires": []
    },
    {
        "id": "4ec76086.b79ce",
        "type": "exec",
        "z": "417600d2.281de8",
        "g": "f1398826.950628",
        "command": "",
        "addpay": true,
        "append": " >/dev/null &",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 870,
        "y": 960,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7aa57287.f3c874",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "2aa67a90.e9e8de",
        "name": "save fleet parms",
        "rules": [
            {
                "t": "set",
                "p": "fleet_parms",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "73a15135.d74f8",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "f1398826.950628",
        "name": "set instance",
        "rules": [
            {
                "t": "set",
                "p": "instance",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 920,
        "wires": [
            [
                "c572ed57.b237f"
            ]
        ]
    },
    {
        "id": "633a66bd.5b6858",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "name": "",
        "group": "a9ebce72.b238d",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Kill ALL ZoomOSC",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 1520,
        "wires": [
            [
                "b0a10cdd.f84f"
            ]
        ]
    },
    {
        "id": "b0a10cdd.f84f",
        "type": "exec",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "command": "killall ZoomOSC",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "3",
        "oldrc": false,
        "name": "",
        "x": 360,
        "y": 1520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ea944d9a.7c01e8",
        "type": "exec",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "3",
        "oldrc": false,
        "name": "run commands",
        "x": 760,
        "y": 1440,
        "wires": [
            [
                "e2afd00e.027d5"
            ],
            [
                "8c6aa845.c21ea8"
            ],
            [
                "1d88496d.271827"
            ]
        ]
    },
    {
        "id": "c60e2d5b.3a84c",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "name": "",
        "group": "a9ebce72.b238d",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Kill ALL NDI_Scan Converter",
        "tooltip": "Kills all clones of NDI Scan Converter",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "fleet_parms.count",
        "payloadType": "flow",
        "topic": "",
        "x": 160,
        "y": 1440,
        "wires": [
            [
                "3adc9280.70751e"
            ]
        ]
    },
    {
        "id": "c572ed57.b237f",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "f1398826.950628",
        "name": "format command",
        "func": "inst = msg.instance + \"\" ;\ninst = inst.padStart(2, \"0\");\n\nexec  = \"/Applications/ZoomOSC.app/Contents/MacOS/ZoomOSC\";// + inst ;\nuser  = \" -u \" + flow.get('fleet_parms').prefix + inst;\nmtgid = \" -m '\" + flow.get('fleet_parms').meetingid + \"'\";\npswd  = \" -p \" + flow.get('fleet_parms').password  ;\ntxp   = \" -txp \" + flow.get('fleet_parms').txp ;\nrxp   = \" -rxp \" + (flow.get('fleet_parms').rxp + msg.instance-1 );\n\ncmd = exec + \" -ajo 1 \" + user + mtgid + pswd + rxp + txp ; //+ \" -ajo 1 \"\n\nmsg = { \"payload\" : cmd };\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 920,
        "wires": [
            [
                "f046bc6f.319fc",
                "4ec76086.b79ce"
            ]
        ]
    },
    {
        "id": "c755f3f2.0a79d8",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "f1398826.950628",
        "name": "",
        "group": "a03fa8bd.11d808",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Launch ZoomOSC",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "fleet_parms.count",
        "payloadType": "flow",
        "topic": "",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "6b0a9d8a.8e05c4"
            ]
        ]
    },
    {
        "id": "9417cf19.60406",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "a467147e.ea6ff8",
        "name": "",
        "group": "a03fa8bd.11d808",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Launch NDI Scan Converter",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "fleet_parms.count",
        "payloadType": "flow",
        "topic": "",
        "x": 160,
        "y": 1100,
        "wires": [
            [
                "87be8393.c7a8d"
            ]
        ]
    },
    {
        "id": "87be8393.c7a8d",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "a467147e.ea6ff8",
        "name": "iterate",
        "func": "out = []\n \np = msg.payload\n\nconsole.log(\"func\" + p)\n\n for (var i = 1; i <= p; i++) { \n     out.push( i )\n}\n\nmsg = { \"payload\" : out }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 1160,
        "wires": [
            [
                "5c299bdd.1302bc"
            ]
        ]
    },
    {
        "id": "5c299bdd.1302bc",
        "type": "split",
        "z": "417600d2.281de8",
        "g": "a467147e.ea6ff8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 300,
        "y": 1160,
        "wires": [
            [
                "f1293eaf.5560a8"
            ]
        ]
    },
    {
        "id": "f1293eaf.5560a8",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "a467147e.ea6ff8",
        "name": "format command",
        "func": "inst = msg.payload + \"\" ;\ninst = inst.padStart(2, \"0\");\n\ncmd = \"/Applications/NDI_SC\" + inst + \".app/Contents/MacOS/NewTek\\\\ NDI\\\\ Scan\\\\ Converter &\"\n\nmsg ={\n    \"payload\" :   cmd\n\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 1220,
        "wires": [
            [
                "68481c37.3af0a4",
                "18966c73.5a928c"
            ]
        ]
    },
    {
        "id": "68481c37.3af0a4",
        "type": "debug",
        "z": "417600d2.281de8",
        "g": "a467147e.ea6ff8",
        "name": "Launch NDI_SC",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1220,
        "wires": []
    },
    {
        "id": "18966c73.5a928c",
        "type": "exec",
        "z": "417600d2.281de8",
        "g": "a467147e.ea6ff8",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "3",
        "oldrc": false,
        "name": "run commands",
        "x": 570,
        "y": 1280,
        "wires": [
            [
                "ff4364fe.b61058"
            ],
            [
                "39af3e5c.9312f2"
            ],
            [
                "bfc42dc2.942a2"
            ]
        ]
    },
    {
        "id": "3adc9280.70751e",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "killall NewTek\\ NDI\\ Scan\\ Converter",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1440,
        "wires": [
            [
                "193b78a6.baa13f"
            ]
        ]
    },
    {
        "id": "193b78a6.baa13f",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "name": "clone",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 1440,
        "wires": [
            [
                "ea944d9a.7c01e8"
            ]
        ]
    },
    {
        "id": "e2afd00e.027d5",
        "type": "debug",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "name": "so",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1420,
        "wires": []
    },
    {
        "id": "8c6aa845.c21ea8",
        "type": "debug",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "name": "se",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1460,
        "wires": []
    },
    {
        "id": "1d88496d.271827",
        "type": "debug",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "name": "rc",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1500,
        "wires": []
    },
    {
        "id": "ff4364fe.b61058",
        "type": "debug",
        "z": "417600d2.281de8",
        "g": "a467147e.ea6ff8",
        "name": "so",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1220,
        "wires": []
    },
    {
        "id": "39af3e5c.9312f2",
        "type": "debug",
        "z": "417600d2.281de8",
        "g": "a467147e.ea6ff8",
        "name": "se",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1260,
        "wires": []
    },
    {
        "id": "bfc42dc2.942a2",
        "type": "debug",
        "z": "417600d2.281de8",
        "g": "a467147e.ea6ff8",
        "name": "rc",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1300,
        "wires": []
    },
    {
        "id": "11d024cc.045c43",
        "type": "comment",
        "z": "417600d2.281de8",
        "g": "a467147e.ea6ff8",
        "name": "Details on running multiple copies of Scan Converter",
        "info": "https://dev.to/xreyrobertibm/quick-hack-to-use-multiple-instances-of-newtek-ndi-scan-converter-on-macos-10eb",
        "x": 790,
        "y": 1100,
        "wires": []
    },
    {
        "id": "a54ccf7c.81e578",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "8684bcb0.1421e8",
        "name": "format usertable MC",
        "func": "// Retreive usertable from flow context and format for display\n\nout = []\ni = 0\n\nvar ut = global.get('usertable')||{}\n\nfor (const [k, v] of Object.entries(ut)) {\n  //console.log(`${k}: ${v} ${v.name}`);\n  if (v.name == \"--NO USER--\") continue;\n\n    out.push( {\n        \"row\"  : i,\n        \"id\"   : v.id,\n        \"user\" : v.name,\n        \"mute\" : v.mute,\n        \"video\": v.video,\n        \"pin\"  : \"p\",\n        \"spot\" : v.spot,\n        \"activespeaker\" : \"a\",\n        \"session\" : v.session\n    })\n    i +=1 \n}\n\nmsg = { \"payload\" : out}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 2360,
        "wires": [
            [
                "649ae0bc.ad383"
            ]
        ]
    },
    {
        "id": "649ae0bc.ad383",
        "type": "ui_table",
        "z": "417600d2.281de8",
        "g": "8684bcb0.1421e8",
        "group": "6bfe5434.d422cc",
        "name": "",
        "order": 1,
        "width": 16,
        "height": 13,
        "columns": [
            {
                "field": "user",
                "title": "User",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "video",
                "title": "Video",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "mute",
                "title": "Mute",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "row",
                "title": "Row",
                "width": "",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "id",
                "title": "Id",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 350,
        "y": 2360,
        "wires": [
            [
                "abfe4cc9.7d8ef",
                "c982ab.8931c558"
            ]
        ]
    },
    {
        "id": "abfe4cc9.7d8ef",
        "type": "link out",
        "z": "417600d2.281de8",
        "g": "8684bcb0.1421e8",
        "name": "",
        "links": [
            "8b9ab5d3.0a69a8"
        ],
        "x": 695,
        "y": 2360,
        "wires": []
    },
    {
        "id": "c6f23791.ef6b18",
        "type": "ui_template",
        "z": "417600d2.281de8",
        "g": "b4c900b3.c08868",
        "group": "68456f7b.49d198",
        "name": "Intro",
        "order": 1,
        "width": 16,
        "height": 9,
        "format": "<h1>Purpose</h1>\n<div >\nThe goal of this contoller is to create isolated feeds of multiple Zoom participants. \nThe video from each participant delivered via its own high resoltuion isolated NDI stream. \nThe major functions are:\n<ul>\n    <li>Launching a fleet of ZoomOSC clients</li>\n    <li>Launching a fleet of NDI Scan Converters</li>\n    <li>Setting default behaviours for the ZoomOSC fleet</li>\n    <li>Assistance for connecting the scan converters to the ZoomOSC sessions (virtual background controls)</li>\n    <li>Controls to Pin participants to ZoomOSC clients</li>\n    <li>Controls to tear down the ZoomOSC and scan converter instances</li>\n</ul>\n</div>\n\n<div>Note: All of the ZoomOSC and Scan Convereter processes must run on the same machine. \nIf the computer has a 1GB network port, you will likely be limited to 8 sessions. CPU resources may further restrict the numbers.\n</div>\n <br/>\n<p>\nThis controller manages the launching of multiple ZoomOSC clients, configuring  a prototype of a feature intended to create multiple zoomOSC clients on a single machine. \nEach client would pin a particular partiicpant. And then each pinned session would be captured by NDI Scan Converter. \n</p>\n<br/>\n<p>\nAt the bottom of the page is a list of meeting participants. \nSelect a participant and then using the session buttons you can assign that particpant to particular zoom session.    \n</p>\n<br/>\n<p>\nThere are arrows in the upper right corner of each section which can be collapsed to save screen sapce.\n</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 90,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d83372d3.9abbf8",
        "type": "change",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "name": "build network string",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.ip & \":\" & msg.payload.port",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1760,
        "wires": [
            [
                "7f1a0616.747b8",
                "b49b98d3.3493b"
            ]
        ]
    },
    {
        "id": "7f1a0616.747b8",
        "type": "ui_text",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "group": "e14cccb0.beedd8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Active Network",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 1760,
        "wires": []
    },
    {
        "id": "b49b98d3.3493b",
        "type": "ui_text",
        "z": "73938c67.dac0ac",
        "g": "800a1202.7dc55",
        "group": "bb94a052.4139b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Active Network",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 1800,
        "wires": []
    },
    {
        "id": "e0bd9360.b0b54",
        "type": "inject",
        "z": "417600d2.281de8",
        "g": "8684bcb0.1421e8",
        "name": "refresh",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 2280,
        "wires": [
            [
                "a54ccf7c.81e578"
            ]
        ]
    },
    {
        "id": "ec30362e.75a338",
        "type": "ui_template",
        "z": "417600d2.281de8",
        "g": "2aa67a90.e9e8de",
        "group": "34e0077d.69c1d",
        "name": "Instructions (scroll)",
        "order": 2,
        "width": 10,
        "height": "7",
        "format": "<h1>Instructions</h1>\n<ol>\n<li >\nFill in the parameters desired. Press Save. (There is a set defaults button to prepopulate the parameters.)\n</li>\n\n<li>\nLaunch the ZoomOSC clients (below). \nThe first client \"prefix01\" will also serve as the controller. \n</li>\n\n<li>\nAfter the clients are launched, then you will need to click on the session icon on the dock for each one to finish the startup.\n</li>\n\n<li>\nClick on the Initialize clients button. This will set the subscription level for the controller, mute all slaves and turn off their video cameras. The virtual backgrounds are turned on to aid in setup. They can be turned off setup. .    \n</li>\n\n<li>\nLaunch the fleet of NDI Scan Converters. There will be one for each ZoomOSC session. \nPlease be aware that if you are running 8+ slaves you are running the risk of saturating a 1GB network.\n</li>\n\n<li>\nYou will now need to visit each instance of NDI Scan converter and configure their source to be one of the ZoomOSC slave clients. \nThere is no easy way to identify the correct ZoomOSC session to be used by each scan converter, it is an educated guessing game. The window resolutions are helpful. \nIt is helpful to monitor you choices via a NDI monitor.\n</li>\n\n<li>\nAfter it is all setup, your can set each ZoomOSC session to full screen. \nYou cannot do this before the scan converter config as scan converter cannot fund them.\n</li>\n\n<li>\n    Turn of virtual backgrounds.\n</li>\n\n</ol>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 130,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "cef75e60.e98f28",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "",
        "group": "a03fa8bd.11d808",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Initialize ZoomOSC Clients",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "fleet_parms.count",
        "payloadType": "flow",
        "topic": "",
        "x": 220,
        "y": 440,
        "wires": [
            [
                "91f99d89.24cb3",
                "ef76b386.99f418",
                "a1132c8e.6c4d58"
            ]
        ]
    },
    {
        "id": "91f99d89.24cb3",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "Gallery Tracking ZoomID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/zoom/galTrackMode",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "1c42610d.87b827"
            ]
        ]
    },
    {
        "id": "ef76b386.99f418",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "Subscribe All",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/zoom/subscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 460,
        "wires": [
            [
                "1c42610d.87b827"
            ]
        ]
    },
    {
        "id": "1c42610d.87b827",
        "type": "link out",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "",
        "links": [
            "8a313077.cf5f3"
        ],
        "x": 735,
        "y": 460,
        "wires": []
    },
    {
        "id": "9c178ab7.b2b618",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "group": "44a52049.ba216",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Session 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bg}}",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 580,
        "y": 1880,
        "wires": [
            [
                "cf62f745.ed758"
            ]
        ]
    },
    {
        "id": "38410292.5a059e",
        "type": "ui_text",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "group": "44a52049.ba216",
        "order": 1,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Selected User",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 460,
        "y": 1761,
        "wires": []
    },
    {
        "id": "4f83d257.a05e84",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "pick User user",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.user",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1761,
        "wires": [
            [
                "38410292.5a059e"
            ]
        ]
    },
    {
        "id": "e8a793b9.a30d98",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "save ID to context",
        "rules": [
            {
                "t": "set",
                "p": "selectedid",
                "pt": "flow",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 1840,
        "wires": [
            [
                "de4f7261.40b748"
            ]
        ]
    },
    {
        "id": "599f960.d29c7ec",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "group": "44a52049.ba216",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Session 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bg}}",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 580,
        "y": 1920,
        "wires": [
            [
                "cf62f745.ed758"
            ]
        ]
    },
    {
        "id": "f5cadcb6.79b21",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "group": "44a52049.ba216",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Session 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bg}}",
        "icon": "",
        "payload": "3",
        "payloadType": "num",
        "topic": "",
        "x": 580,
        "y": 1960,
        "wires": [
            [
                "cf62f745.ed758"
            ]
        ]
    },
    {
        "id": "b41bd73e.c303e",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "group": "44a52049.ba216",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Session 5",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bg}}",
        "icon": "",
        "payload": "5",
        "payloadType": "num",
        "topic": "",
        "x": 580,
        "y": 2040,
        "wires": [
            [
                "cf62f745.ed758"
            ]
        ]
    },
    {
        "id": "4a6af20f.ecb29c",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "group": "44a52049.ba216",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Session 6",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bg}}",
        "icon": "",
        "payload": "6",
        "payloadType": "num",
        "topic": "",
        "x": 580,
        "y": 2080,
        "wires": [
            [
                "cf62f745.ed758"
            ]
        ]
    },
    {
        "id": "5a3b6ae8.5701c4",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "group": "44a52049.ba216",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Session 7",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bg}}",
        "icon": "",
        "payload": "7",
        "payloadType": "num",
        "topic": "",
        "x": 580,
        "y": 2120,
        "wires": [
            [
                "cf62f745.ed758"
            ]
        ]
    },
    {
        "id": "71ee22a4.640ac4",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "group": "44a52049.ba216",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Session 8",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bg}}",
        "icon": "",
        "payload": "8",
        "payloadType": "num",
        "topic": "",
        "x": 580,
        "y": 2160,
        "wires": [
            [
                "cf62f745.ed758"
            ]
        ]
    },
    {
        "id": "f0db2f83.f8d898",
        "type": "udp out",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1427,
        "y": 2140,
        "wires": []
    },
    {
        "id": "840cdcb0.3b9c2",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "set network ip",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "zoomosc_ip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1277,
        "y": 2140,
        "wires": [
            [
                "f0db2f83.f8d898"
            ]
        ]
    },
    {
        "id": "8dc8d1f2.0d7ae",
        "type": "osc",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "zoomOSC",
        "path": "",
        "metadata": false,
        "x": 1194,
        "y": 2080,
        "wires": [
            [
                "840cdcb0.3b9c2"
            ]
        ]
    },
    {
        "id": "5071156.9bac2ec",
        "type": "debug",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "Pin Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1248,
        "y": 2020,
        "wires": []
    },
    {
        "id": "8b9ab5d3.0a69a8",
        "type": "link in",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "links": [
            "abfe4cc9.7d8ef",
            "6129fb47.09861c"
        ],
        "x": 115,
        "y": 1776,
        "wires": [
            [
                "4f83d257.a05e84",
                "e8a793b9.a30d98",
                "bddf5e93.a8b558"
            ]
        ]
    },
    {
        "id": "cf62f745.ed758",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "instance",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "selectedid",
                "pt": "msg",
                "to": "selectedid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 2020,
        "wires": [
            [
                "55373514.9f2e34",
                "68584be3.601e3c"
            ]
        ]
    },
    {
        "id": "68584be3.601e3c",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "Set message",
        "func": "msg = { \"instance\" : msg.instance,\n        \"port\"     : msg.instance + parseInt(global.get(\"zoomosc_port\"))-1,\n        \"payload\"  : { \"type\" : \"i\",\n                        \"value\" : msg.selectedid},\n        \"topic\"    : \"/zoom/zoomId/Pin\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 994,
        "y": 2020,
        "wires": [
            [
                "5071156.9bac2ec",
                "8dc8d1f2.0d7ae",
                "e6d7ddac.57373"
            ]
        ]
    },
    {
        "id": "61c69a6.f3ff0e4",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "group": "44a52049.ba216",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Session 4",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bg}}",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "x": 580,
        "y": 2000,
        "wires": [
            [
                "cf62f745.ed758"
            ]
        ]
    },
    {
        "id": "8d506a4d.70a0a",
        "type": "comment",
        "z": "417600d2.281de8",
        "g": "f1398826.950628",
        "name": "ZoomOSC command line options",
        "info": "-m (meeting ID)\n-p (meeting password)\n-u (username)\n-ami (joining mic audio device id)\n-asi (joining speaker audio device id)\n-ci (camera id)\n-rxp (osc receive port)\n-txp (osc transmit port)\n-txip (osc transmit ip)\n\n-ajo is for auto join only and should be set to 1, though this feature is experimental. \n",
        "x": 690,
        "y": 860,
        "wires": []
    },
    {
        "id": "173dacb9.3248ab",
        "type": "inject",
        "z": "584bfa46.70cd0c",
        "g": "1320fe0a.3943fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/zoom/me/setBackground",
        "payload": "actor_01",
        "payloadType": "str",
        "x": 220,
        "y": 60,
        "wires": [
            [
                "9d59ac2c.16c248"
            ]
        ]
    },
    {
        "id": "9d59ac2c.16c248",
        "type": "link out",
        "z": "584bfa46.70cd0c",
        "g": "1320fe0a.3943fa",
        "name": "",
        "links": [
            "8a313077.cf5f3"
        ],
        "x": 515,
        "y": 80,
        "wires": []
    },
    {
        "id": "fff894af.6c34a",
        "type": "inject",
        "z": "584bfa46.70cd0c",
        "g": "1320fe0a.3943fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/zoom/me/setBackground",
        "payload": "actor_02",
        "payloadType": "str",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "9d59ac2c.16c248"
            ]
        ]
    },
    {
        "id": "9c5cad4b.f52fe8",
        "type": "inject",
        "z": "584bfa46.70cd0c",
        "g": "1320fe0a.3943fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/zoom/me/setBackground",
        "payload": "actor_03",
        "payloadType": "str",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "9d59ac2c.16c248"
            ]
        ]
    },
    {
        "id": "a1132c8e.6c4d58",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "iterate",
        "func": "out = []\n \np = msg.payload\n\n for (var i = 1; i <= p; i++) { \n\n     out.push( i )\n   \n}\n\nmsg = { \"payload\" : out }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "fa8acfcd.7e487"
            ]
        ]
    },
    {
        "id": "fa8acfcd.7e487",
        "type": "split",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "2788977a.7685e8"
            ]
        ]
    },
    {
        "id": "2788977a.7685e8",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "set stuff",
        "rules": [
            {
                "t": "set",
                "p": "instance",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/zoom/me/setBackground",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "$number($flowContext(\"fleet_parms.rxp\")) + $number( msg.instance ) - 1 ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 540,
        "wires": [
            [
                "aec675d2.91142"
            ]
        ]
    },
    {
        "id": "aec675d2.91142",
        "type": "template",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "set payload to virtual bg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "actor_0{{payload}}",
        "output": "str",
        "x": 610,
        "y": 540,
        "wires": [
            [
                "6c9f2b88.cfe9bc"
            ]
        ]
    },
    {
        "id": "559f1142.a9ade8",
        "type": "debug",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "Actor msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 580,
        "wires": []
    },
    {
        "id": "f33ad501.f5832",
        "type": "inject",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "a1132c8e.6c4d58"
            ]
        ]
    },
    {
        "id": "6c9f2b88.cfe9bc",
        "type": "osc",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "zoomOSC",
        "path": "",
        "metadata": false,
        "x": 748,
        "y": 600,
        "wires": [
            [
                "35a32e34.a14d1a"
            ]
        ]
    },
    {
        "id": "35a32e34.a14d1a",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "set network ip",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "zoomosc_ip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 848,
        "y": 643,
        "wires": [
            [
                "7a825095.86bfb8",
                "559f1142.a9ade8"
            ]
        ]
    },
    {
        "id": "7a825095.86bfb8",
        "type": "udp out",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 950,
        "y": 700,
        "wires": []
    },
    {
        "id": "e6d7ddac.57373",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "Update Session Info",
        "func": "id = flow.get(\"selectedid\");\ninst  = msg.instance;\nut = global.get('usertable') ;\nfp = flow.get(\"fleet_parms\");\n\n\nif (ut.length == 0) {\n    selectedName =  \"Not Found\"\n} else {\n    selectedName = ut[id].name;\n}\n\nvar st;\nvar name;\n\ndefault_st = []; // default structure varies by number of actors.\nfor (i=1; i<=fp.count; i++) {\n    default_st.push( { \"id\" : \"?\", \"name\" : \"?\", \"session\": i\n    })\n}\n\ntry {\n    st = flow.get('session_table') \n}\ncatch (err) {\n    st = default_st;\n    flow.set(\"session_table\", st) \n}\n\n// length can be zero after tables have been reset\nif ( Object.keys(st).length == 0) {\n    st = default_st;\n    flow.set(\"session_table\", st) \n}\n\n// The session table is guarneteed to exist\nst = flow.get('session_table') \n\nst[ inst-1 ] = { \"id\"     : id,  \n             \"name\"   : selectedName, \n             \"session\": inst\n            }\n\nflow.set(\"session_table\", st) \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1225,
        "y": 1960,
        "wires": [
            [
                "243b9a20.938f16"
            ]
        ]
    },
    {
        "id": "243b9a20.938f16",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "format session table",
        "func": "out = []\ni = 0\n\nvar st = flow.get('session_table')\n\ne = Object.entries(st); //debug \n\nconsole.log( \"st length:\", e.length  );\n\nfor (const [k, v] of Object.entries(st)) {\n    //console.log(k,v);\n    if  (typeof(v.session) == 'undefined') continue; // work around an anomaly\n    //if  (typeof(v.name) == 'undefined') continue;\n    \n    out.push( {\n        \"row\"  : i,\n        \"id\"   : v.id,\n        \"user\" : v.name,\n        \"session\" : v.session\n    })\n    i +=1 \n}\n\nmsg = { \"payload\" : out}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 1760,
        "wires": [
            [
                "85f9d091.44e058",
                "8e5c536b.607618"
            ]
        ]
    },
    {
        "id": "83913d91.ded318",
        "type": "sort",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "order": "ascending",
        "as_num": true,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload^(session)",
        "msgKeyType": "jsonata",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 1290,
        "y": 1800,
        "wires": [
            [
                "94cde52e.7a8cf",
                "22895352.b0e03c"
            ]
        ]
    },
    {
        "id": "94cde52e.7a8cf",
        "type": "ui_table",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "group": "44a52049.ba216",
        "name": "Session List",
        "order": 3,
        "width": 10,
        "height": 6,
        "columns": [
            {
                "field": "session",
                "title": "Session",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "user",
                "title": "User",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "id",
                "title": "ID",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1388,
        "y": 1880,
        "wires": [
            [
                "6129fb47.09861c"
            ]
        ]
    },
    {
        "id": "85f9d091.44e058",
        "type": "debug",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "formatted session table",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 1760,
        "wires": []
    },
    {
        "id": "6129fb47.09861c",
        "type": "link out",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "links": [
            "8b9ab5d3.0a69a8"
        ],
        "x": 1493,
        "y": 1880,
        "wires": []
    },
    {
        "id": "bd2bc656.d338f",
        "type": "inject",
        "z": "584bfa46.70cd0c",
        "g": "1320fe0a.3943fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/zoom/me/setBackground",
        "payload": "none",
        "payloadType": "str",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "9d59ac2c.16c248"
            ]
        ]
    },
    {
        "id": "f101076e.a9d99",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "",
        "group": "a03fa8bd.11d808",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "Turn off VBG",
        "tooltip": "Turn off virtual Backgrounds to save resources",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "fleet_parms.count",
        "payloadType": "flow",
        "topic": "",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "e4b16796.7dd1d"
            ]
        ]
    },
    {
        "id": "e4b16796.7dd1d",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "iterate",
        "func": "out = []\n \np = msg.payload\n\n for (var i = 1; i <= p; i++) { \n\n     out.push( i )\n   \n}\n\nmsg = { \"payload\" : out }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 252,
        "y": 660,
        "wires": [
            [
                "f915f844.20b58"
            ]
        ]
    },
    {
        "id": "f915f844.20b58",
        "type": "split",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 372,
        "y": 660,
        "wires": [
            [
                "d5faa3b9.8fc85"
            ]
        ]
    },
    {
        "id": "d5faa3b9.8fc85",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "Build Message",
        "rules": [
            {
                "t": "set",
                "p": "instance",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/zoom/me/setBackground",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "$number($flowContext(\"fleet_parms.rxp\")) + $number( msg.instance ) - 1 ",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "None",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 522,
        "y": 660,
        "wires": [
            [
                "6c9f2b88.cfe9bc"
            ]
        ]
    },
    {
        "id": "a177c4ed.4d4d88",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "",
        "group": "a03fa8bd.11d808",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Default Pins",
        "tooltip": "Pins Actor 1 to Session 1, etc",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "fleet_parms.count",
        "payloadType": "flow",
        "topic": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "6a6f4c75.a260bc"
            ]
        ]
    },
    {
        "id": "613e2ad6.e24d1c",
        "type": "link in",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "Update Session",
        "links": [
            "37b82dfc.708a3a",
            "a9a83b20.6b34c8"
        ],
        "x": 1003,
        "y": 1959,
        "wires": [
            [
                "e6d7ddac.57373"
            ]
        ]
    },
    {
        "id": "ed492ccb.759728",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "name": "",
        "group": "a9ebce72.b238d",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Reset Tables",
        "tooltip": "Clears the user and pin assignment tables",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 1580,
        "wires": [
            [
                "3ae86bf5.187d6c"
            ]
        ]
    },
    {
        "id": "3ae86bf5.187d6c",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "session_table",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "usertable",
                "pt": "global",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1580,
        "wires": [
            [
                "a9a83b20.6b34c8"
            ]
        ]
    },
    {
        "id": "db9f1cc0.e91ad8",
        "type": "inject",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 1620,
        "wires": [
            [
                "3ae86bf5.187d6c"
            ]
        ]
    },
    {
        "id": "90e6d337.3763e",
        "type": "inject",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "refresh",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 860,
        "y": 1760,
        "wires": [
            [
                "243b9a20.938f16"
            ]
        ]
    },
    {
        "id": "a9a83b20.6b34c8",
        "type": "link out",
        "z": "417600d2.281de8",
        "g": "e26be13e.803a18",
        "name": "",
        "links": [
            "613e2ad6.e24d1c"
        ],
        "x": 555,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e7c6a6df.f26c58",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "",
        "group": "a03fa8bd.11d808",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "Turn on VBG",
        "tooltip": "Turn off virtual Backgrounds to save resources",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "fleet_parms.count",
        "payloadType": "flow",
        "topic": "",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "a1132c8e.6c4d58"
            ]
        ]
    },
    {
        "id": "294162a2.afcede",
        "type": "inject",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "refresh",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 138,
        "y": 2000,
        "wires": [
            [
                "24a620c2.3e0e8",
                "a4ffcedb.d16ae8",
                "c696c784.af421",
                "1a4ccd00.cf2a93",
                "2c260e2.1f96b72",
                "c3e4e426.d30c2",
                "a30ebee.3959e4",
                "6516f63d.78e518"
            ]
        ]
    },
    {
        "id": "24a620c2.3e0e8",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "fleetCount",
                "pt": "msg",
                "to": "fleet_parms.count",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 328,
        "y": 1880,
        "wires": [
            [
                "3863a36e.b3878c"
            ]
        ]
    },
    {
        "id": "dc265ab1.25f668",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "set bg",
        "rules": [
            {
                "t": "set",
                "p": "bg",
                "pt": "msg",
                "to": "(payload <= fleetCount) ? \"teal\" : \"grey\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 2040,
        "wires": [
            [
                "b41bd73e.c303e"
            ]
        ]
    },
    {
        "id": "3863a36e.b3878c",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "set bg",
        "rules": [
            {
                "t": "set",
                "p": "bg",
                "pt": "msg",
                "to": "(payload <= fleetCount) ? \"teal\" : \"grey\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1880,
        "wires": [
            [
                "9c178ab7.b2b618"
            ]
        ]
    },
    {
        "id": "a4ffcedb.d16ae8",
        "type": "change",
        "z": "417600d2.281de8",
        "name": "2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "fleetCount",
                "pt": "msg",
                "to": "fleet_parms.count",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1920,
        "wires": [
            [
                "3bca4c78.123484"
            ]
        ]
    },
    {
        "id": "3bca4c78.123484",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "set bg",
        "rules": [
            {
                "t": "set",
                "p": "bg",
                "pt": "msg",
                "to": "(payload <= fleetCount) ? \"teal\" : \"grey\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1920,
        "wires": [
            [
                "599f960.d29c7ec"
            ]
        ]
    },
    {
        "id": "c696c784.af421",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "fleetCount",
                "pt": "msg",
                "to": "fleet_parms.count",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1960,
        "wires": [
            [
                "2f8cb4c6.f53c4c"
            ]
        ]
    },
    {
        "id": "2f8cb4c6.f53c4c",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "set bg",
        "rules": [
            {
                "t": "set",
                "p": "bg",
                "pt": "msg",
                "to": "(payload <= fleetCount) ? \"teal\" : \"grey\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1960,
        "wires": [
            [
                "f5cadcb6.79b21"
            ]
        ]
    },
    {
        "id": "afc72fe6.ea11c8",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "set bg",
        "rules": [
            {
                "t": "set",
                "p": "bg",
                "pt": "msg",
                "to": "(payload <= fleetCount) ? \"teal\" : \"grey\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 2000,
        "wires": [
            [
                "61c69a6.f3ff0e4"
            ]
        ]
    },
    {
        "id": "e4e43c80.de2278",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "set bg",
        "rules": [
            {
                "t": "set",
                "p": "bg",
                "pt": "msg",
                "to": "(payload <= fleetCount) ? \"teal\" : \"grey\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 2080,
        "wires": [
            [
                "4a6af20f.ecb29c"
            ]
        ]
    },
    {
        "id": "c8335138.64385",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "set bg",
        "rules": [
            {
                "t": "set",
                "p": "bg",
                "pt": "msg",
                "to": "(payload <= fleetCount) ? \"teal\" : \"grey\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 2120,
        "wires": [
            [
                "5a3b6ae8.5701c4"
            ]
        ]
    },
    {
        "id": "8b695c53.e25998",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "set bg",
        "rules": [
            {
                "t": "set",
                "p": "bg",
                "pt": "msg",
                "to": "(payload <= fleetCount) ? \"teal\" : \"grey\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 2160,
        "wires": [
            [
                "71ee22a4.640ac4"
            ]
        ]
    },
    {
        "id": "1a4ccd00.cf2a93",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "fleetCount",
                "pt": "msg",
                "to": "fleet_parms.count",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 2000,
        "wires": [
            [
                "afc72fe6.ea11c8"
            ]
        ]
    },
    {
        "id": "2c260e2.1f96b72",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "fleetCount",
                "pt": "msg",
                "to": "fleet_parms.count",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 2040,
        "wires": [
            [
                "dc265ab1.25f668"
            ]
        ]
    },
    {
        "id": "c3e4e426.d30c2",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "6",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "fleetCount",
                "pt": "msg",
                "to": "fleet_parms.count",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 2080,
        "wires": [
            [
                "e4e43c80.de2278"
            ]
        ]
    },
    {
        "id": "a30ebee.3959e4",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "7",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "fleetCount",
                "pt": "msg",
                "to": "fleet_parms.count",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 2120,
        "wires": [
            [
                "c8335138.64385"
            ]
        ]
    },
    {
        "id": "6516f63d.78e518",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "fleetCount",
                "pt": "msg",
                "to": "fleet_parms.count",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 2160,
        "wires": [
            [
                "8b695c53.e25998"
            ]
        ]
    },
    {
        "id": "d41758fe.c3ec6",
        "type": "comment",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "sets button colours",
        "info": "",
        "x": 130,
        "y": 1960,
        "wires": []
    },
    {
        "id": "47454400.142664",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "2aa67a90.e9e8de",
        "name": "defaults",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"ip\":\"127.0.0.1\",\"port\":\"9090\",\"prefix\":\"actor\",\"meetingid\":\"9999999999\",\"password\":\"0000\",\"count\":4,\"txp\":1234,\"rxp\":9090}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "cbf94f2f.049128"
            ]
        ]
    },
    {
        "id": "1b81cf25.71f1d9",
        "type": "ui_button",
        "z": "417600d2.281de8",
        "g": "2aa67a90.e9e8de",
        "name": "",
        "group": "34e0077d.69c1d",
        "order": 3,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Set defaults (then Save)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "47454400.142664"
            ]
        ]
    },
    {
        "id": "c982ab.8931c558",
        "type": "debug",
        "z": "417600d2.281de8",
        "name": "selectedUser UT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 2260,
        "wires": []
    },
    {
        "id": "de4f7261.40b748",
        "type": "ui_text",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "group": "44a52049.ba216",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "ID",
        "format": "{{msg.payload.id}}",
        "layout": "row-spread",
        "x": 430,
        "y": 1840,
        "wires": []
    },
    {
        "id": "22895352.b0e03c",
        "type": "debug",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "sorted",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 1800,
        "wires": []
    },
    {
        "id": "6a6f4c75.a260bc",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "create def",
        "func": "fp = flow.get(\"fleet_parms\");\nut = global.get(\"usertable\"); \n\nprefix = fp.prefix;\nbaseRxp = fp.rxp;\n\nfunction getId( name ) {\n  id = \"??\";    \n  for (var [k,v] of Object.entries(ut)) {   \n      if (name == v.name) {id = v.id; break }\n      \n  }\n  return id;    \n}\n\nvar st  = [];\n \np = msg.payload;\n\n for (var i = 1; i <= p; i++) { \n     name = prefix + String(i).padStart(2, '0');\n     id = getId(name);\n     row = { \n         \"id\" : id,  \n         \"name\" : name,\n         \"session\": i,\n         \"rxp\": baseRxp+i-1\n     };\n     st.push( row );\n}\n\nflow.set(\"session_table\", st);\n\nmsg = { \"payload\" : st };\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 260,
        "y": 720,
        "wires": [
            [
                "95fec943.412418"
            ]
        ]
    },
    {
        "id": "95fec943.412418",
        "type": "split",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 720,
        "wires": [
            [
                "2a86f3d3.7c1cfc"
            ]
        ]
    },
    {
        "id": "2a86f3d3.7c1cfc",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "1e53e9c9.7d31ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/zoom/me/Pin",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "payload.rxp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 720,
        "wires": [
            [
                "6c9f2b88.cfe9bc"
            ]
        ]
    },
    {
        "id": "8e5c536b.607618",
        "type": "rbe",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1150,
        "y": 1800,
        "wires": [
            [
                "83913d91.ded318"
            ]
        ]
    },
    {
        "id": "a7b198de.0bacb8",
        "type": "file",
        "z": "417600d2.281de8",
        "g": "a26b29af.4d64a8",
        "name": "write user name to OBS file",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1280,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "60ea1a31.4ef364",
        "type": "change",
        "z": "417600d2.281de8",
        "g": "a26b29af.4d64a8",
        "name": "format filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "\"/Users/avuser/actor\" & \t$pad($string(msg.instance), -2, \"0\") & \t\".txt\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 2280,
        "wires": [
            [
                "a7b198de.0bacb8",
                "cb8563ce.8c0308"
            ]
        ]
    },
    {
        "id": "55373514.9f2e34",
        "type": "change",
        "z": "417600d2.281de8",
        "d": true,
        "g": "a26b29af.4d64a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "selectedName",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 2280,
        "wires": [
            [
                "60ea1a31.4ef364",
                "7a3e1de4.22164c"
            ]
        ]
    },
    {
        "id": "cb8563ce.8c0308",
        "type": "debug",
        "z": "417600d2.281de8",
        "name": "trace02",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 2380,
        "wires": []
    },
    {
        "id": "bddf5e93.a8b558",
        "type": "function",
        "z": "417600d2.281de8",
        "g": "7bec5cb5.2c8684",
        "name": "Save Name",
        "func": "user = msg.payload.user\n\nflow.set(\"selectedName\", user);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 1801,
        "wires": [
            []
        ]
    },
    {
        "id": "7a3e1de4.22164c",
        "type": "debug",
        "z": "417600d2.281de8",
        "name": "trace01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 2380,
        "wires": []
    },
    {
        "id": "9884c834.546d38",
        "type": "ui_template",
        "z": "29e414d1.c9f644",
        "g": "75bd0937.6cda78",
        "group": "d9d42ea1.8da5d",
        "name": "Intro Text",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<h1>Assignment</h1>\n<div>\nUpdate your controller to utilize the usernames of participants, notifications about their A/V status, and one of\n<ol>\n<li>their positions in the gallery view (best on macOS) or</li>\n<li>the active speakers name (best on Windows).</li>\n</ol>\n</div>\n<h1>Solution</h1>\n<div>\n    The multiview page include a function that pushes participant names to OBS.\n</div>\n<div>\n    This page will add a function that pushes the active speaker to OBS.\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 170,
        "y": 80,
        "wires": [
            []
        ]
    }
]